@page
@model IndexModel
@{
    // setting page title to home page
    ViewData["Title"] = "Home page";
}

<h1>Welcome!</h1>
<div class="text">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aspernatur at culpa cumque, dolore eveniet fugiat illum impedit incidunt laudantium molestias necessitatibus perspiciatis qui ratione repellendus saepe temporibus ut vero voluptates? Alias cumque molestias officia optio quisquam quos reprehenderit. A ad debitis distinctio eveniet fuga fugit impedit repellendus? Eum?
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid distinctio ex explicabo minima quod recusandae reiciendis similique totam. Aliquam, assumenda, at deserunt dicta eligendi ex harum in incidunt iusto laudantium molestiae, natus nulla pariatur placeat possimus quibusdam recusandae saepe sapiente sint vel veniam veritatis voluptate voluptatum! Delectus, molestias, ullam?
    </p>
</div>