@page
@model App.Pages.About.IndexModel
@{
    // setting the page title to about
    ViewData["Title"] = "About";
}
<h1>About</h1>
<div class="text">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consequatur dolore facilis, fugiat impedit, ipsum maiores nesciunt perspiciatis quae quod rem repellendus vitae, voluptate. Voluptate!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consectetur esse impedit in odio repellendus, voluptas. A commodi id illo laboriosam omnis quod repellendus vel.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda facere itaque minima nihil quam, vero voluptatibus voluptatum? Aliquam aspernatur, dolorum facere illum iste placeat ullam.</p>
</div>