@inherits LayoutComponentBase

<div class="wrapper content">
    <div class="main wrapper">
        <div class="header-wrapper wrapper">
            <header>
                <nav>
                    <ul>
                        <li>
                            <NavLink href="./">Home</NavLink>
                        </li>
                        <li>
                            <NavLink href="./converter/">Converter</NavLink>
                        </li>
                        <li>
                            <NavLink href="./json/">JSON</NavLink>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>
        <div class="main-wrapper wrapper">
            <main>
                @Body

            </main>
        </div>
    </div>
    <div class="footer-wrapper wrapper">
        <footer>
            <p>By Elias Eriksson <a href="https://github.com/EliasEriksson/asp1/tree/main/site/blazor">Repo</a></p>
        </footer>
    </div>
</div>